@model CrudKibraArticulosJorge.Models.ModeloVista

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ConfirmacionSalvar</title>
</head>
<body>
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
    
        <fieldset>
            <legend>Articulo</legend>
            @Html.HiddenFor(model => model.articulo.idArticulo)
            @*@Html.DisplayFor(model => model.idArticulo)*@
            <div class="display-label">
                @Html.DisplayNameFor(model => model.articulo.nombreArt)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.articulo.nombreArt)
            </div>
            <div class="display-label">
                @Html.DisplayNameFor(model => model.articulo.imagenArt)
            </div>
            <div class=" display-field">
                <img src="data:image/jpg;base64,@(Html.Raw(Convert.ToBase64String(item.articulo.imagenArt)))" alt="Imagen" height="20" />
            </div>
            <div class="display-label">
                @Html.DisplayNameFor(model => model.articulo.descArt)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.articulo.descArt)
            </div>
            <div class="display-label">
                @Html.DisplayNameFor(model => model.articulo.precioArt)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.articulo.precioArt)
            </div>
            <div class="display-label">
                @Html.DisplayNameFor(model => model.articulo.stock)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.articulo.stock)
            </div>
            <div class="display-label">
                @Html.DisplayNameFor(model => model.articulo.stockMinimo)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.articulo.stockMinimo)
            </div>
            <div class="display-label">
                @Html.DisplayNameFor(model => model.articulo.proveedor.empresaPro)
            </div>
            <div class="display-field">
                @Html.DisplayFor(model => model.articulo.proveedor.empresaPro)
            </div>
    
            <p>
                <input type="submit" value="Save" />
            </p>
        </fieldset>
    }
    
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
