@model CrudKibraArticulosJorge.Models.ModeloVista

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <fieldset>
        <legend>Detalle del articulo</legend>
            <div class="editor-label">
                @Html.LabelFor(model => model.articulo.nombreArt)
            </div>
            <div class="editor-field">
                @Html.DisplayFor(model => model.articulo.nombreArt)
            </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.articulo.imagenArt)
        </div>
        <div class="editor-field">
            <img src="data:image/jpg;base64,@(Html.Raw(Convert.ToBase64String(Model.articulo.imagenArt)))" alt="Imagen" height="20" />
        </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.articulo.descArt)
            </div>
            <div class="editor-field">
                @Html.DisplayFor(model => model.articulo.descArt)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.articulo.precioArt)
            </div>
            <div class="editor-field">
                @Html.DisplayFor(model => model.articulo.precioArt)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.articulo.stock)
            </div>
            <div class="editor-field">
                @Html.DisplayFor(model => model.articulo.stock)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.articulo.stockMinimo)
            </div>
            <div class="editor-field">
                @Html.DisplayFor(model => model.articulo.stockMinimo)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.articulo.proveedor.empresaPro)
            </div>
            <div class="editor-field">
                @Html.DisplayFor(model => model.articulo.proveedor.empresaPro)
            </div>
</fieldset>
    <p>
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
